.modal-root {
  position: fixed;
  background-color: rgba(0,0,0, 0.7);
  z-index: 400023;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content-box {
  background-color: rgb(28, 30, 31);
  border-radius: 4px;
  height: 80vh;
  width: 70vw;
  overflow: auto;
}

.modal-close {
  position: fixed;
  top: 8vh;
  right: 14vw;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.project-modal-content {
  padding: 40px;
}

.project-modal-content__title {
  color: #fff;
  font-size: 3rem;
  padding-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.project-modal-content__info * {
  font-family: 'Courier New', Courier, monospace;
}

.project-modal-content__item {
  color: #bfb9b9;
}

.project-modal-content__item__value {
  font-weight: bold;
  color: #808b8b;
}

.project-modal-content__image {
  margin-top: 40px;
  width: 100%;
}

.project-modal-content__image img {
  width: 100%;
  border-radius: 4px;
}

@media all and (max-width: 768px) {
  .modal-content-box {
    width: 90vw;
    height: 82vh;
  }
  .project-modal-content__info .col-6 {
    width: 100%;
  }
  .modal-close {
  top: 8vh;
  right: 3vw;
}
}

@media all and (max-width: 576px) {
  .project-modal-content__info * {
    font-size: 18px;
  }
}
