:root {
  --modal-image-radius: 20px;
}

.modal-root {
  position: fixed;
  background-color: rgba(0,0,0, 0.7);
  z-index: 400023;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content-box {
  background-color: rgb(28, 30, 31);
  border-radius: 4px;
  height: 80vh;
  width: 70vw;
  overflow: auto;
}

.modal-close {
  position: fixed;
  top: 8vh;
  right: 14vw;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.project-modal-content {
  padding: 40px;
}

.project-modal-content__title {
  color: #fff;
  font-size: 3rem;
  padding-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.project-modal-content__info * {
  font-family: 'Courier New', Courier, monospace;
}

.project-modal-content__item {
  color: #ffffff;
  font-weight: bold;
  text-shadow: 2px 2px 2px #000;
}

.project-modal-content__item__value {
  font-weight: bold;
  font-weight: normal;
  color: #808b8b;
}

.project-modal-content__image {
  margin-top: 40px;
  width: 100%;
}

.project-modal-content__image img {
  width: 100%;
  border-radius: 4px;
}

.modal-image-row {
  display: flex;
  justify-content: center;
}

.modal-image {
  height: 419px;
}

.landscape1,
.landscape2 {
  flex-basis: 75.4%;
}

.portrait1,
.portrait2 {
  flex-basis: 22.5%;
}

.portrait1 {
  margin-left: 22px;
  margin-bottom: 22px;
}
.portrait2 {
  margin-right: 22px;
}

.landscape1 {
  border-top-left-radius: var(--modal-image-radius) !important;
}

.portrait1 {
  border-top-right-radius: var(--modal-image-radius) !important;
}

.landscape2 {
  border-bottom-right-radius: var(--modal-image-radius) !important;
}

.portrait2 {
  border-bottom-left-radius: var(--modal-image-radius) !important;
}

@media all and (max-width: 768px) {
  .modal-content-box {
    width: 90vw;
    height: 82vh;
  }
  .project-modal-content__info .col-6 {
    width: 100%;
  }
  .modal-close {
  top: 8vh;
  right: 3vw;
}
}

@media all and (max-width: 576px) {
  .project-modal-content__info * {
    font-size: 18px;
  }
}
